html {
  font-family: sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
}

.app {
  display: grid;
  grid-auto-rows: max-content;
  --padding: 20px;
  gap: var(--padding);
  padding: var(--padding);
  min-height: calc(100vh - var(--padding) * 2);

  &::after {
    content: 'Drop it!';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    align-items: center;
    justify-items: center;
    background: #ccc;
    font-weight: bold;
    font-size: 12vw;
    opacity: 0;
    pointer-events: none;
    transition: opacity 200ms ease-in-out;
  }
  &:global(.drop-valid)::after {
    opacity: 1;
  }
}

.images {
  display: grid;
  height: 380px;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  img {
    image-rendering: optimizeSpeed;
    image-rendering: pixelated;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.phases {
  --size: 63px;
  gap: 4px;
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--size));
  grid-auto-rows: var(--size);
  justify-content: center;
}

.phase {
  display: grid;
  justify-items: center;
  align-items: center;
  color: #fff;

  & > * {
    position: relative;
    grid-area: 1/1;
  }
}

.file-options {
  position: absolute;
  top: 20px;
  left: 20px;

  & input[type='file'] {
    display: none;
  }
}
