html {
  font-family: sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

.file-options {
  position: absolute;
  top: 20px;
  left: 20px;

  & input[type='file'] {
    display: none;
  }
}

.app {
  height: 100%;
  display: grid;
  position: relative;

  &::after {
    content: 'Drop it!';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    align-items: center;
    justify-items: center;
    background: #ccc;
    font-weight: bold;
    font-size: 12vw;
    opacity: 0;
    pointer-events: none;
    transition: opacity 200ms ease-in-out;
  }
  &:global(.drop-valid)::after {
    opacity: 1;
  }
}

.layout {
  display: grid;
  grid-template-rows: 1fr max-content;
}

.canvasContainer {
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
}
