.controls {
  padding: 20px;
  display: grid;
  gap: 10px;

  @media (min-width: 660px) {
    grid-template-columns: 1fr max-content max-content;
  }
}

.ranges {
  display: grid;
  grid-template-columns: max-content 1fr 7ch;
  gap: 5px 10px;
  grid-column: 1 / 2;

  @media (min-width: 660px) {
    grid-template-columns: max-content 1fr max-content max-content 11ch;
  }
}

.multiplier,
.data {
  display: none;

  @media (min-width: 660px) {
    display: block;
  }
}

.extraOptions {
  display: grid;
  gap: 10px;
  grid-template-columns: max-content max-content;
  align-self: center;
  justify-self: center;
}

.toggles {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content max-content;
  grid-auto-flow: column;
  gap: 3px 2px;
}

.resizeMethod {
  text-align: center;
  display: grid;
  grid-template-rows: max-content max-content;
  gap: 3px 2px;
}
